<div id="closeshiftmodal" class="modal fade" ng-controller="CloseShiftController as csCtrl">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="reset()" aria-label="Close" ng-disabled="working"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-check"></span> Afslut vagten</h4>
            </div>

            <div class="modal-body">
                <p>Er du sikker på du vil afslutte vagten?</p>
            </div>

            <div class="modal-footer">
                <form name="form" ng-submit="closeShift()" novalidate>
                    <button iden="closeButton" type="submit" class="btn btn-danger ladda-button" data-style="zoom-out" data-spinner-size="32" ><span class="ladda-label">Afslut</span></button>
                    <button class="btn btn-default" data-dismiss="modal" ng-disabled="working">Annuller</button>
                </form>
            </div>

        </div>
    </div>
</div>