<div id="reopenshiftmodal" class="modal fade" ng-controller="ReopenShiftController as rsCtrl">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="reset()" aria-label="Close" ng-disabled="working"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-new-window"></span> Genåben vagten</h4>
            </div>

            <div class="modal-body">
                <p>Er du sikker på du vil genåbne vagten?</p>
                <p><b>Bemærk!</b> Man bør aldrig åbne en vagt blot for at redigere den og afslutte den igen. Det giver et falsk afslutnings tidspunkt.</p>
            </div>

            <div class="modal-footer">
                <form name="form" ng-submit="reopenShift()" novalidate>
                    <button iden="reopenButton" type="submit" class="btn btn-warning ladda-button" data-style="zoom-out" data-spinner-size="32" ><span class="ladda-label">Genåben</span></button>
                    <button class="btn btn-default" data-dismiss="modal" ng-disabled="working">Annuller</button>
                </form>
            </div>

        </div>
    </div>
</div>