<div id="workingmodal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-small">
        <div class="modal-content">

            <div class="modal-body">

                <center>
                    <label class="control-label"><h4>Arbejder...</h4></label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                      </div>
                    </div>
                </center>

            </div>

        </div>
    </div>
</div>